body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("wephoto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    text-align: center;
    padding: 2rem;
}

#water,
#electricity {
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    margin: 20px auto;
    padding: 20px;
    display: block;
    font: bolder;
    color: black;
}

#water {
    background-image: url("water.jpg");
}

#electricity {
    background-image: url("electricity.jpeg");
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}